.gist-it-gist div {
    padding: 0;
    margin: 0;
}

.gist-it-gist .gist-file {
    border: 1px solid #DEDEDE;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    margin-bottom: 1em;
}

.gist-it-gist .gist-file .gist-meta {
    background-color: #EAEAEA;
    color: #666666;
    font-family: Helvetica,arial,freesans,clean,sans-serif;
    font-size: 85%;
    overflow: hidden;
    padding: 0.5em;
}

.gist-it-gist .gist-file .gist-meta a {
    color: #336699;
}

.gist-it-gist .gist-file .gist-meta a:visited {
    color: #773377;
}

.gist-it-gist .gist-file .gist-data {
    background-color: #F8F8FF;
    border-bottom: 1px solid #DDDDDD;
    font-size: 100%;
    overflow: auto;
    word-wrap: normal;
}

.gist-it-gist .gist-file .gist-data pre {
    background: none repeat scroll 0 0 transparent !important;
    border: medium none !important;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    margin: 0 !important;
    padding: 0 !important;
}
