.ui-dialog-titlebar {
    display: none;
}

.clear {
    clear: both;
}

pre.prettyprint {
    float: left;
    font-size: 13px;
    color: #666;
    background-color: #eaeaea;
    padding: 0.25em 0.5em 0.5em;
    margin: 0 0 0 0;
}

h1 {
    color: #777;
}

body {
    color: #333;
    font-family: 'Droid Sans', arial, serif;
    font-size: 14px;
}

p {
    margin: 10px 0;
}


blockquote {
    margin: 10px 20px;
}

.monospace {
    font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
}

a {
    color: #367;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.subbar {
    float: right;
    margin-top: 6px;
}

/*[ Section ]*/

.title {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: 'Droid Sans', arial, serif;
    border-bottom: 2px solid #ccc;
}

.title .headline {
    color: #777;
    font-size: 24px;
}

.title .subtitle {
    color: #777;
    font-size: 18px;
}

.section {
    margin: 0 auto 20px auto;
    width: 840px;
}

.section h3 {
    font-variant: small-caps;
    margin: 10px 0;
}

.option {
    margin: 10px 0;
    padding: 10px 0 0 24px;
}

.option-name {
    font-variant: normal;
    font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
    font-weight: bold;
}

.option td.code {
    font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
}

.option td {
    padding: 0 12px 8px 0;
}


/*[ Author ]*/

ul.author {
    list-style: disc;
    margin: 0;
    font-size: 13px;
    color: #aaa;
}

ul.author li a {
    color: #333;
}

ul.author li a:hover {
    text-decoration: underline;
}

ul.author li a .name {
    font-weight: bold;
}

ul.author li a:hover .name {
    color: #47a;
}
